NodeRed.txt
[{"id":"4d06a6f1.75b8a8","type":"tab","label":"BuzzBuzzDS","disabled":true,"info":""},{"id":"5267526b.769864","type":"tab","label":"LEDDS","disabled":true,"info":""},{"id":"ccd624e1.8d98","type":"tab","label":"LED2","disabled":true,"info":""},{"id":"b548f753.f859","type":"tab","label":"Set all availabel to GPIO","disabled":true,"info":""},{"id":"5b4f30d8.3d0f9","type":"tab","label":"TestingDS","disabled":false,"info":""},{"id":"f12f7b7f.78687","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#000000","baseFont":"Times New Roman,Times,serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#0432ff","baseFont":"Georgia,Georgia,serif","reset":false},"themeState":{"base-color":{"default":"#0094CE","value":"#000000","edited":true},"page-titlebar-backgroundColor":{"value":"#000000","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#262626","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#000000","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"Times New Roman,Times,serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Smart IoT Home Model","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"b9cf9c94.a5ddd8","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"6","collapse":false},{"id":"1e5c20a8.27db1f","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"6","collapse":false},{"id":"e0e7e75d.3c86a","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"6","collapse":false},{"id":"d23f6fc4.651ff8","type":"ui_tab","z":"","name":"Your Smart Home Interface","icon":"home","disabled":false,"hidden":false},{"id":"e2b69e6a.367e7","type":"ui_group","z":"","name":"LCD Display","tab":"d23f6fc4.651ff8","order":1,"disp":false,"width":"15","collapse":false},{"id":"4bc041cb.79bcc","type":"ui_group","z":"","name":"Light","tab":"d23f6fc4.651ff8","order":5,"disp":false,"width":"13","collapse":false},{"id":"5de9248.ff0b5dc","type":"ui_group","z":"","name":"Temperature","tab":"d23f6fc4.651ff8","order":4,"disp":false,"width":"15","collapse":false},{"id":"14800f67.5aac69","type":"ui_group","z":"","name":"Camera","tab":"d23f6fc4.651ff8","order":2,"disp":false,"width":"13","collapse":false},{"id":"d6728510.12f838","type":"ui_tab","name":"Tab 4","icon":"dashboard","order":4},{"id":"6bf0259a.9db794","type":"ui_group","name":"Group 1","tab":"d6728510.12f838","order":1,"disp":true,"width":6},{"id":"d86dd035.83c658","type":"ui_group","z":"","name":"Flow 3","tab":"","disp":true,"width":"6","collapse":false},{"id":"dc83c366.6eed3","type":"ui_group","z":"","name":"LCD Display","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"e1a2d88b.fe5e9","type":"ui_group","z":"","name":"Camera","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"6bd60cc6.93623c","type":"ui_group","z":"","name":"Temperature","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"aac532c2.2a79f8","type":"ui_group","z":"","name":"Door","tab":"","order":4,"disp":true,"width":"6","collapse":false},{"id":"e9b4e766.0801e8","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"6","collapse":true},{"id":"4f482617.953cd","type":"inject","z":"4d06a6f1.75b8a8","name":"","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":690,"y":140,"wires":[["6b41a39c.ad0dd4"]]},{"id":"6b41a39c.ad0dd4","type":"exec","z":"4d06a6f1.75b8a8","command":"fast-gpio set 1","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"BuzzBuzzOnOrOff","x":1030,"y":280,"wires":[["933acb98.8ab558"],["933acb98.8ab558"],["933acb98.8ab558"]]},{"id":"2687a8c6.70f638","type":"inject","z":"4d06a6f1.75b8a8","name":"","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":690,"y":280,"wires":[["6b41a39c.ad0dd4"]]},{"id":"d6a5ced2.c00018","type":"inject","z":"4d06a6f1.75b8a8","name":"","topic":"switch","payload":"start","payloadType":"global","repeat":"0.5","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":260,"wires":[["514ba3c1.a76bfc"]]},{"id":"514ba3c1.a76bfc","type":"exec","z":"4d06a6f1.75b8a8","command":"fast-gpio read 0","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"detectValueSwitch","x":170,"y":460,"wires":[["c02380e9.3594c8"],["c02380e9.3594c8"],["c02380e9.3594c8"]]},{"id":"2d2927e.8e6bd58","type":"trigger","z":"4d06a6f1.75b8a8","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"reset","bytopic":"all","name":"","x":820,"y":380,"wires":[["6b41a39c.ad0dd4"]]},{"id":"91934551.0ea1a","type":"switch","z":"4d06a6f1.75b8a8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":670,"y":480,"wires":[["2d2927e.8e6bd58","7bed4a3b.305824"],["2a483b56.76de64","26d5806e.d6366"]]},{"id":"2a483b56.76de64","type":"trigger","z":"4d06a6f1.75b8a8","op1":"0","op2":"0","op1type":"str","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"reset","bytopic":"all","name":"","x":860,"y":540,"wires":[["6b41a39c.ad0dd4"]]},{"id":"7bed4a3b.305824","type":"delay","z":"4d06a6f1.75b8a8","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":410,"y":380,"wires":[["26b4fd3c.0b3232"]]},{"id":"26b4fd3c.0b3232","type":"change","z":"4d06a6f1.75b8a8","name":"resetTrigger","rules":[{"t":"set","p":"payload","pt":"msg","to":"reset","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":380,"wires":[["2d2927e.8e6bd58"]]},{"id":"26d5806e.d6366","type":"delay","z":"4d06a6f1.75b8a8","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":390,"y":560,"wires":[["9e440343.6ed098"]]},{"id":"9e440343.6ed098","type":"change","z":"4d06a6f1.75b8a8","name":"resetTrigger","rules":[{"t":"set","p":"payload","pt":"msg","to":"reset","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":560,"wires":[["2a483b56.76de64"]]},{"id":"c02380e9.3594c8","type":"rbe","z":"4d06a6f1.75b8a8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":350,"y":460,"wires":[["40ee7804.675a38"]]},{"id":"5e4fad8b.735744","type":"switch","z":"4d06a6f1.75b8a8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"}],"checkall":"true","repair":false,"outputs":4,"x":1430,"y":320,"wires":[["b45e3ed9.4b448"],["1af1a649.6c315a"],["7460c242.73ad9c"],["1af1a649.6c315a"]]},{"id":"b45e3ed9.4b448","type":"exec","z":"4d06a6f1.75b8a8","command":"python root/pyPrograms/lcdDisplayMessage/displayMessage.py Fire Alarm!","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Display Fire Alarm message","x":1660,"y":140,"wires":[[],[],[]]},{"id":"1af1a649.6c315a","type":"trigger","z":"4d06a6f1.75b8a8","op1":"","op2":"0","op1type":"date","op2type":"str","duration":"-5","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":1600,"y":540,"wires":[["d29fc167.90821"]]},{"id":"d29fc167.90821","type":"exec","z":"4d06a6f1.75b8a8","command":"python root/pyPrograms/tempSensor/finalTemp.py","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Display Current Temp in F","x":1810,"y":400,"wires":[[],[],[]]},{"id":"dbba57f9.ce7c7","type":"inject","z":"5267526b.769864","name":"","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":490,"y":100,"wires":[["e90b9cca.e19dc"]]},{"id":"b7472c2a.e4fc08","type":"inject","z":"5267526b.769864","name":"","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":470,"y":220,"wires":[["e90b9cca.e19dc"]]},{"id":"e90b9cca.e19dc","type":"exec","z":"5267526b.769864","command":"fast-gpio set 3 ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":840,"y":200,"wires":[["1ecce04a.e14b28","20227a67.4a81be"],["1ecce04a.e14b28","20227a67.4a81be"],["1ecce04a.e14b28","20227a67.4a81be"]],"inputLabels":["x"]},{"id":"c5799e45.3108f8","type":"inject","z":"5267526b.769864","name":"","topic":"switch","payload":"start2","payloadType":"global","repeat":"0.5","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":220,"wires":[["5e23566b.661c4"]]},{"id":"5e23566b.661c4","type":"exec","z":"5267526b.769864","command":"fast-gpio read 18","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"detectValueSwitch","x":150,"y":520,"wires":[["b2eac8b3.9f5728"],["b2eac8b3.9f5728"],["b2eac8b3.9f5728"]]},{"id":"b2eac8b3.9f5728","type":"rbe","z":"5267526b.769864","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":190,"y":400,"wires":[["e6c55fb9.1d435"]]},{"id":"6a72f1a9.91de2","type":"delay","z":"5267526b.769864","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":350,"y":300,"wires":[["70837f43.39246"]]},{"id":"70837f43.39246","type":"change","z":"5267526b.769864","name":"resetTrigger","rules":[{"t":"set","p":"payload","pt":"msg","to":"reset","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":300,"wires":[["f6ef7b1.fb19b88"]]},{"id":"43e43905.63c62","type":"switch","z":"5267526b.769864","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":530,"y":400,"wires":[["f6ef7b1.fb19b88","6a72f1a9.91de2"],["39bedd77.c4e9e2","e9ad967.f08c168"]]},{"id":"56ba3d51.aa8e9c","type":"change","z":"5267526b.769864","name":"resetTrigger","rules":[{"t":"set","p":"payload","pt":"msg","to":"reset","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":520,"wires":[["39bedd77.c4e9e2"]]},{"id":"e9ad967.f08c168","type":"delay","z":"5267526b.769864","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":450,"y":520,"wires":[["56ba3d51.aa8e9c"]]},{"id":"f6ef7b1.fb19b88","type":"trigger","z":"5267526b.769864","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"reset","bytopic":"all","name":"","x":760,"y":380,"wires":[["e90b9cca.e19dc"]]},{"id":"39bedd77.c4e9e2","type":"trigger","z":"5267526b.769864","op1":"0","op2":"0","op1type":"str","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"reset","bytopic":"all","name":"","x":780,"y":440,"wires":[["e90b9cca.e19dc"]]},{"id":"e537906e.c63e58","type":"inject","z":"ccd624e1.8d98","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":490,"y":100,"wires":[["dc6cd493.d72ea"]]},{"id":"788668ab.deb","type":"inject","z":"ccd624e1.8d98","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":410,"y":200,"wires":[["dc6cd493.d72ea"]]},{"id":"dc6cd493.d72ea","type":"exec","z":"ccd624e1.8d98","command":"python root/pyPrograms/LED/turnOnOff.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":870,"y":200,"wires":[[],[],[]]},{"id":"a668468.d3cabb8","type":"inject","z":"ccd624e1.8d98","name":"","topic":"switch","payload":"start","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":220,"wires":[["f53d7a04.77485"]]},{"id":"f53d7a04.77485","type":"exec","z":"ccd624e1.8d98","command":"python root/pyPrograms/LED/switchLED.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"detectValueSwitch","x":130,"y":440,"wires":[["2659d6cb.7ed812"],["2659d6cb.7ed812"],["2659d6cb.7ed812"]]},{"id":"2659d6cb.7ed812","type":"rbe","z":"ccd624e1.8d98","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":310,"y":420,"wires":[["7a4418ca.89ee2"]]},{"id":"2e9ee32a.4c1b44","type":"delay","z":"ccd624e1.8d98","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":370,"y":340,"wires":[["a0d8c0c5.ca45c"]]},{"id":"a0d8c0c5.ca45c","type":"change","z":"ccd624e1.8d98","name":"resetTrigger","rules":[{"t":"set","p":"payload","pt":"msg","to":"reset","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":320,"wires":[["1a4e68b2.f7cadf"]]},{"id":"7a4418ca.89ee2","type":"switch","z":"ccd624e1.8d98","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":420,"wires":[["1a4e68b2.f7cadf","2e9ee32a.4c1b44"],["76770c2c.002c0c","5008a3e8.e176ec"]]},{"id":"35a185fd.2876ca","type":"change","z":"ccd624e1.8d98","name":"resetTrigger","rules":[{"t":"set","p":"payload","pt":"msg","to":"reset","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":500,"wires":[["76770c2c.002c0c"]]},{"id":"5008a3e8.e176ec","type":"delay","z":"ccd624e1.8d98","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":390,"y":500,"wires":[["35a185fd.2876ca"]]},{"id":"1a4e68b2.f7cadf","type":"trigger","z":"ccd624e1.8d98","op1":"1","op2":"0","op1type":"num","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"reset","bytopic":"all","name":"","x":780,"y":380,"wires":[["dc6cd493.d72ea"]]},{"id":"76770c2c.002c0c","type":"trigger","z":"ccd624e1.8d98","op1":"0","op2":"0","op1type":"num","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"reset","bytopic":"all","name":"","x":780,"y":440,"wires":[["dc6cd493.d72ea"]]},{"id":"1ecce04a.e14b28","type":"link out","z":"5267526b.769864","name":"LEDoutout","links":["ffd56202.7d9fc8"],"x":1255,"y":200,"wires":[]},{"id":"ffd56202.7d9fc8","type":"link in","z":"4d06a6f1.75b8a8","name":"","links":["1ecce04a.e14b28"],"x":1055,"y":160,"wires":[["933acb98.8ab558"]]},{"id":"7460c242.73ad9c","type":"exec","z":"4d06a6f1.75b8a8","command":"python root/pyPrograms/lcdDisplayMessage/displayMessage.py Door is open","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"GarageDoorOpen","x":1710,"y":260,"wires":[[],[],[]]},{"id":"20227a67.4a81be","type":"debug","z":"5267526b.769864","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1310,"y":320,"wires":[]},{"id":"6f780f08.3c7698","type":"inject","z":"b548f753.f859","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":120,"wires":[["e4ae6be5.d99f9"]]},{"id":"e4ae6be5.d99f9","type":"exec","z":"b548f753.f859","command":"omega2-ctrl gpiomux set i2c i2c; omega2-ctrl gpiomux set uart0 gpio; omega2-ctrl gpiomux set uart1 gpio omega2-ctrl gpiomux set uart2 gpio; omega2-ctrl gpiomux set pwm0 gpio; omega2-ctrl gpiomux set pwm1 gpio; omega2-ctrl gpiomux set refclk gpio; omega2-ctrl gpiomux set spi_s gpio; omega2-ctrl gpiomux set spi_cs1 gpio; omega2-ctrl gpiomux set i2s gpio; omega2-ctrl gpiomux set ephy gpio; omega2-ctrl gpiomux set wled gpio","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"SET GPIO","x":420,"y":160,"wires":[["2d7501d.63049fe"],["2d7501d.63049fe"],["2d7501d.63049fe"]]},{"id":"2d7501d.63049fe","type":"debug","z":"b548f753.f859","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":120,"wires":[]},{"id":"e6c55fb9.1d435","type":"change","z":"5267526b.769864","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"> Read GPIO18: 0","fromt":"str","to":"0","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"> Read GPIO18: 1","fromt":"str","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":400,"wires":[["43e43905.63c62"]]},{"id":"40ee7804.675a38","type":"change","z":"4d06a6f1.75b8a8","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"> Read GPIO0: 0","fromt":"str","to":"0","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"> Read GPIO0: 1","fromt":"str","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":480,"wires":[["91934551.0ea1a"]]},{"id":"933acb98.8ab558","type":"change","z":"4d06a6f1.75b8a8","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"> Set GPIO1: 0","fromt":"str","to":"0","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"> Set GPIO1: 1","fromt":"str","to":"1","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"> Set GPIO3: 0","fromt":"str","to":"3","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"> Set GPIO3: 1","fromt":"str","to":"2","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1260,"y":240,"wires":[["5e4fad8b.735744"]]},{"id":"60c15d80.272e8c","type":"exec","z":"5267526b.769864","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":810,"y":100,"wires":[[],[],[]]},{"id":"c832ebae.a64838","type":"exec","z":"5b4f30d8.3d0f9","command":"fast-gpio set 3 ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":840,"y":140,"wires":[["288ce901.afbd7e"],["288ce901.afbd7e"],["288ce901.afbd7e"]],"inputLabels":["x"]},{"id":"efa8371c.515748","type":"inject","z":"5b4f30d8.3d0f9","name":"","topic":"switch","payload":"start","payloadType":"global","repeat":"0.5","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":220,"wires":[["fcf6e2a7.bf9e58"]]},{"id":"fcf6e2a7.bf9e58","type":"exec","z":"5b4f30d8.3d0f9","command":"fast-gpio read 18","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"detectValueSwitch","x":150,"y":520,"wires":[["9b67443c.db19b8"],["9b67443c.db19b8"],["9b67443c.db19b8"]]},{"id":"9b67443c.db19b8","type":"rbe","z":"5b4f30d8.3d0f9","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":270,"y":400,"wires":[["767b7114.7a3b3"]]},{"id":"71038639.93bbd","type":"delay","z":"5b4f30d8.3d0f9","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":350,"y":300,"wires":[["3c34137.5eec0ec"]]},{"id":"3c34137.5eec0ec","type":"change","z":"5b4f30d8.3d0f9","name":"resetTrigger","rules":[{"t":"set","p":"payload","pt":"msg","to":"reset","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":300,"wires":[["f00a79fe.7b80a"]]},{"id":"20124ba9.e1662c","type":"switch","z":"5b4f30d8.3d0f9","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":400,"wires":[["f00a79fe.7b80a","71038639.93bbd"],["1a197394.1256fc","d1a89206.09a8d8"]]},{"id":"29f004c9.b70b0c","type":"change","z":"5b4f30d8.3d0f9","name":"resetTrigger","rules":[{"t":"set","p":"payload","pt":"msg","to":"reset","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":520,"wires":[["1a197394.1256fc"]]},{"id":"d1a89206.09a8d8","type":"delay","z":"5b4f30d8.3d0f9","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":450,"y":520,"wires":[["29f004c9.b70b0c"]]},{"id":"f00a79fe.7b80a","type":"trigger","z":"5b4f30d8.3d0f9","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"reset","bytopic":"all","name":"","x":720,"y":340,"wires":[["c832ebae.a64838"]]},{"id":"1a197394.1256fc","type":"trigger","z":"5b4f30d8.3d0f9","op1":"0","op2":"0","op1type":"str","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"reset","bytopic":"all","name":"","x":760,"y":440,"wires":[["c832ebae.a64838"]]},{"id":"288ce901.afbd7e","type":"link out","z":"5b4f30d8.3d0f9","name":"LEDoutout","links":["9c2f603.ed6822"],"x":1055,"y":200,"wires":[]},{"id":"767b7114.7a3b3","type":"change","z":"5b4f30d8.3d0f9","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"> Read GPIO18: 0","fromt":"str","to":"0","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"> Read GPIO18: 1","fromt":"str","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":400,"wires":[["20124ba9.e1662c"]]},{"id":"d8a8b190.4c2c78","type":"exec","z":"5b4f30d8.3d0f9","command":"fast-gpio set 1","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"BuzzBuzzOnOrOff","x":1250,"y":780,"wires":[["a001e53e.d1c2f"],["a001e53e.d1c2f"],["a001e53e.d1c2f"]]},{"id":"c84f2f3a.11bed","type":"inject","z":"5b4f30d8.3d0f9","name":"","topic":"switch","payload":"start","payloadType":"global","repeat":"0.5","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":960,"wires":[["1e13ba76.79592e"]]},{"id":"1e13ba76.79592e","type":"exec","z":"5b4f30d8.3d0f9","command":"fast-gpio read 0","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"detectValueSwitch","x":310,"y":860,"wires":[["45c23af3.9ccbdc"],["45c23af3.9ccbdc"],["45c23af3.9ccbdc"]]},{"id":"ee8f89a3.eb25c8","type":"trigger","z":"5b4f30d8.3d0f9","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"reset","bytopic":"all","name":"","x":980,"y":900,"wires":[["d8a8b190.4c2c78"]]},{"id":"aa352fe9.b792d","type":"switch","z":"5b4f30d8.3d0f9","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":850,"y":980,"wires":[["ee8f89a3.eb25c8","1bf1a396.f30b34"],["56022c9e.b95a64","89999306.e63a98"]]},{"id":"56022c9e.b95a64","type":"trigger","z":"5b4f30d8.3d0f9","op1":"0","op2":"0","op1type":"str","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"reset","bytopic":"all","name":"","x":1000,"y":1060,"wires":[["d8a8b190.4c2c78"]]},{"id":"1bf1a396.f30b34","type":"delay","z":"5b4f30d8.3d0f9","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":550,"y":900,"wires":[["152f8eba.344d91"]]},{"id":"152f8eba.344d91","type":"change","z":"5b4f30d8.3d0f9","name":"resetTrigger","rules":[{"t":"set","p":"payload","pt":"msg","to":"reset","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":900,"wires":[["ee8f89a3.eb25c8"]]},{"id":"89999306.e63a98","type":"delay","z":"5b4f30d8.3d0f9","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":550,"y":1060,"wires":[["940fa186.2eeb88"]]},{"id":"940fa186.2eeb88","type":"change","z":"5b4f30d8.3d0f9","name":"resetTrigger","rules":[{"t":"set","p":"payload","pt":"msg","to":"reset","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":1060,"wires":[["56022c9e.b95a64"]]},{"id":"45c23af3.9ccbdc","type":"rbe","z":"5b4f30d8.3d0f9","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":490,"y":980,"wires":[["726995dc.4bad44"]]},{"id":"c83d7412.7df27","type":"switch","z":"5b4f30d8.3d0f9","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"3","vt":"num"}],"checkall":"true","repair":false,"outputs":4,"x":1610,"y":700,"wires":[["37452653.dfe8e2"],["b1bb4492.9367a"],[],[]]},{"id":"becb83ee.ef536","type":"exec","z":"5b4f30d8.3d0f9","command":"python root/pyPrograms/lcdDisplayMessage/displayMessage.py Fire Alarm!","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Display Fire Alarm message","x":1820,"y":400,"wires":[["37e7250f.68f182"],[],[]]},{"id":"cb103537.45a568","type":"exec","z":"5b4f30d8.3d0f9","command":"python root/pyPrograms/tempSensor/finalTemp.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Display Current Temp in F","x":2830,"y":980,"wires":[["2cf7a10d.013e16"],[],[]]},{"id":"9c2f603.ed6822","type":"link in","z":"5b4f30d8.3d0f9","name":"","links":["288ce901.afbd7e"],"x":1235,"y":580,"wires":[["a001e53e.d1c2f"]]},{"id":"8fff98f2.6ef5b8","type":"exec","z":"5b4f30d8.3d0f9","command":"python root/pyPrograms/lcdDisplayMessage/displayMessage.py Light on","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"LightOn","x":1760,"y":520,"wires":[["37e7250f.68f182"],[],[]]},{"id":"726995dc.4bad44","type":"change","z":"5b4f30d8.3d0f9","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"> Read GPIO0: 0","fromt":"str","to":"0","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"> Read GPIO0: 1","fromt":"str","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":980,"wires":[["aa352fe9.b792d"]]},{"id":"a001e53e.d1c2f","type":"change","z":"5b4f30d8.3d0f9","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"> Set GPIO1: 0","fromt":"str","to":"0","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"> Set GPIO1: 1","fromt":"str","to":"1","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"> Set GPIO3: 0","fromt":"str","to":"3","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"> Set GPIO3: 1","fromt":"str","to":"2","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1440,"y":700,"wires":[["c83d7412.7df27"]]},{"id":"b8a3353c.3d68d8","type":"ui_template","z":"5b4f30d8.3d0f9","group":"14800f67.5aac69","name":"CameraWindow","order":2,"width":"13","height":"10","format":"<center>\n<iframe id=\"inlineFrameExample\"\n    title=\"Inline Frame Example\"\n    width=\"640\"\n    height=\"480\"\n    src=\"http://omega-bdac.local:8080/?action=stream\">\n</iframe>\n</center>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1700,"y":120,"wires":[[]]},{"id":"53124399.dafbec","type":"inject","z":"5b4f30d8.3d0f9","name":"","topic":"","payload":"start","payloadType":"global","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1150,"y":120,"wires":[["b0720366.6203f"]]},{"id":"b0720366.6203f","type":"exec","z":"5b4f30d8.3d0f9","command":"/etc/init.d/mjpg-streamer start","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1410,"y":120,"wires":[["b8a3353c.3d68d8"],["b8a3353c.3d68d8"],["b8a3353c.3d68d8"]]},{"id":"37e7250f.68f182","type":"ui_text","z":"5b4f30d8.3d0f9","group":"e2b69e6a.367e7","order":3,"width":0,"height":0,"name":"","label":"Current status: ","format":"{{msg.payload}}","layout":"row-left","x":3360,"y":380,"wires":[]},{"id":"97d29367.ff0ef8","type":"ui_gauge","z":"5b4f30d8.3d0f9","name":"TempDisplay","group":"5de9248.ff0b5dc","order":2,"width":"10","height":"7","gtype":"donut","title":"","label":"degrees F","format":"{{value}}","min":0,"max":"100","colors":["#cbf1ff","#f6ec00","#b51a00"],"seg1":"65","seg2":"80","x":3170,"y":760,"wires":[]},{"id":"2cf7a10d.013e16","type":"function","z":"5b4f30d8.3d0f9","name":"Change String to Number","func":"msg.payload = parseFloat(msg.payload).toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"x":2930,"y":860,"wires":[["97d29367.ff0ef8","2fe19869.ee0ab8"]]},{"id":"37452653.dfe8e2","type":"change","z":"5b4f30d8.3d0f9","name":"clear payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1600,"y":460,"wires":[["becb83ee.ef536"]]},{"id":"b1bb4492.9367a","type":"change","z":"5b4f30d8.3d0f9","name":"clear payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1820,"y":680,"wires":[["8fff98f2.6ef5b8"]]},{"id":"eca41139.be8068","type":"change","z":"5b4f30d8.3d0f9","name":"clear HMI","rules":[{"t":"set","p":"payload","pt":"msg","to":"No activity","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2980,"y":480,"wires":[["37e7250f.68f182","cb103537.45a568"]]},{"id":"160833eb.5c29cc","type":"ui_switch","z":"5b4f30d8.3d0f9","name":"switchTest","label":"Living Room Light","tooltip":"","group":"4bc041cb.79bcc","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":550,"y":160,"wires":[["c832ebae.a64838"]]},{"id":"4243ecfb.d5abdc","type":"switch","z":"5b4f30d8.3d0f9","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"90","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":350,"y":760,"wires":[["754746d7.4c1c08","448a9c3.21346e4"]]},{"id":"2fe19869.ee0ab8","type":"link out","z":"5b4f30d8.3d0f9","name":"TempOut","links":["d700f025.c19e28"],"x":3115,"y":980,"wires":[]},{"id":"d700f025.c19e28","type":"link in","z":"5b4f30d8.3d0f9","name":"TempIn","links":["2fe19869.ee0ab8"],"x":195,"y":760,"wires":[["4243ecfb.d5abdc"]]},{"id":"4ce65c6e.2bcc8c","type":"change","z":"5b4f30d8.3d0f9","name":"resetTrigger","rules":[{"t":"set","p":"payload","pt":"msg","to":"reset","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":660,"wires":[["754746d7.4c1c08"]]},{"id":"754746d7.4c1c08","type":"trigger","z":"5b4f30d8.3d0f9","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"reset","bytopic":"all","name":"","x":960,"y":760,"wires":[["d8a8b190.4c2c78"]]},{"id":"448a9c3.21346e4","type":"delay","z":"5b4f30d8.3d0f9","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":550,"y":660,"wires":[["4ce65c6e.2bcc8c"]]},{"id":"b93a0b22.6c8d","type":"exec","z":"5b4f30d8.3d0f9","command":"fast-gpio read 3","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"detectValueLED","x":2380,"y":500,"wires":[["8786889a.c6412"],["8786889a.c6412"],["8786889a.c6412"]]},{"id":"fedf2295.1ff04","type":"exec","z":"5b4f30d8.3d0f9","command":"fast-gpio read 1","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"detectValueBuzz","x":2090,"y":640,"wires":[["386776c7.53a36a"],["386776c7.53a36a"],["386776c7.53a36a"]]},{"id":"f1bace45.863ef","type":"switch","z":"5b4f30d8.3d0f9","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":2350,"y":600,"wires":[["b93a0b22.6c8d"],[]]},{"id":"386776c7.53a36a","type":"change","z":"5b4f30d8.3d0f9","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"> Read GPIO1: 0","fromt":"str","to":"0","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"> Read GPIO1: 1","fromt":"str","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2180,"y":560,"wires":[["f1bace45.863ef"]]},{"id":"4a87c537.21ca44","type":"change","z":"5b4f30d8.3d0f9","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"> Read GPIO3: 0","fromt":"str","to":"0","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"> Read GPIO3: 1","fromt":"str","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2640,"y":480,"wires":[["7eb91eb4.140de8"]]},{"id":"7eb91eb4.140de8","type":"switch","z":"5b4f30d8.3d0f9","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":2770,"y":440,"wires":[["eca41139.be8068"],[]]},{"id":"27f9991d.4e409e","type":"inject","z":"5b4f30d8.3d0f9","name":"","topic":"switch","payload":"start","payloadType":"global","repeat":"0.5","crontab":"","once":false,"onceDelay":0.1,"x":1950,"y":580,"wires":[["fedf2295.1ff04"]]},{"id":"8786889a.c6412","type":"rbe","z":"5b4f30d8.3d0f9","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":2570,"y":540,"wires":[["4a87c537.21ca44"]]},{"id":"7fffd22f.ac9e6c","type":"inject","z":"5b4f30d8.3d0f9","name":"","topic":"switch","payload":"start","payloadType":"global","repeat":"0.5","crontab":"","once":false,"onceDelay":0.1,"x":1910,"y":280,"wires":[["408a08fb.e5b3f8"]]},{"id":"e9edf78e.3e0db8","type":"exec","z":"5b4f30d8.3d0f9","command":"fast-gpio read 1","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"detectValueBuzz","x":2250,"y":320,"wires":[["57b3a5cf.8826d4"],["57b3a5cf.8826d4"],["57b3a5cf.8826d4"]]},{"id":"57b3a5cf.8826d4","type":"rbe","z":"5b4f30d8.3d0f9","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":2430,"y":300,"wires":[["3327393c.b4b926"]]},{"id":"3327393c.b4b926","type":"change","z":"5b4f30d8.3d0f9","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"> Read GPIO1: 0","fromt":"str","to":"0","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"> Read GPIO1: 1","fromt":"str","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2580,"y":300,"wires":[["d05524fa.bb988"]]},{"id":"d05524fa.bb988","type":"switch","z":"5b4f30d8.3d0f9","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":2730,"y":300,"wires":[["a70a5d53.6b1348"],[]]},{"id":"408a08fb.e5b3f8","type":"exec","z":"5b4f30d8.3d0f9","command":"fast-gpio read 3","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"detectValueLED","x":2160,"y":220,"wires":[["479177a1.b13cb"],["479177a1.b13cb"],["479177a1.b13cb"]]},{"id":"479177a1.b13cb","type":"change","z":"5b4f30d8.3d0f9","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"> Read GPIO3: 0","fromt":"str","to":"0","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"> Read GPIO3: 1","fromt":"str","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2360,"y":160,"wires":[["c5a9babd.8f7fc"]]},{"id":"c5a9babd.8f7fc","type":"switch","z":"5b4f30d8.3d0f9","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":2530,"y":160,"wires":[["e9edf78e.3e0db8"],[]]},{"id":"a70a5d53.6b1348","type":"change","z":"5b4f30d8.3d0f9","name":"clear HMI","rules":[{"t":"set","p":"payload","pt":"msg","to":"No activity","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2980,"y":340,"wires":[["37e7250f.68f182","cb103537.45a568"]]},{"id":"6f5e9991.b204f8","type":"inject","z":"5b4f30d8.3d0f9","name":"","topic":"switch","payload":"start","payloadType":"global","repeat":"0.5","crontab":"","once":false,"onceDelay":0.1,"x":1750,"y":900,"wires":[["4632c787.68d38"]]},{"id":"4632c787.68d38","type":"exec","z":"5b4f30d8.3d0f9","command":"fast-gpio read 1","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"detectValueBuzz","x":1950,"y":900,"wires":[["16035a0f.691ade"],["16035a0f.691ade"],["16035a0f.691ade"]]},{"id":"16035a0f.691ade","type":"change","z":"5b4f30d8.3d0f9","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"> Read GPIO1: 0","fromt":"str","to":"0","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"> Read GPIO1: 1","fromt":"str","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2060,"y":820,"wires":[["a277de7.298d8a"]]},{"id":"a277de7.298d8a","type":"switch","z":"5b4f30d8.3d0f9","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":2210,"y":900,"wires":[[],["aa98615.b6a332"]]},{"id":"aa98615.b6a332","type":"exec","z":"5b4f30d8.3d0f9","command":"fast-gpio read 3","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"detectValueLED","x":2280,"y":820,"wires":[["1e9691de.839e16"],["1e9691de.839e16"],["1e9691de.839e16"]]},{"id":"f1d5c46b.b79998","type":"change","z":"5b4f30d8.3d0f9","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"> Read GPIO3: 0","fromt":"str","to":"0","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"> Read GPIO3: 1","fromt":"str","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2360,"y":680,"wires":[["436ed286.b55844"]]},{"id":"436ed286.b55844","type":"switch","z":"5b4f30d8.3d0f9","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":2530,"y":680,"wires":[["51508dcb.fc8a0c"],[]]},{"id":"1e9691de.839e16","type":"rbe","z":"5b4f30d8.3d0f9","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":2190,"y":720,"wires":[["f1d5c46b.b79998"]]},{"id":"51508dcb.fc8a0c","type":"change","z":"5b4f30d8.3d0f9","name":"clear payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2840,"y":740,"wires":[["97539435.88237"]]},{"id":"97539435.88237","type":"exec","z":"5b4f30d8.3d0f9","command":"python root/pyPrograms/lcdDisplayMessage/displayMessage.py Fire Alarm!","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Display Fire Alarm message","x":3200,"y":580,"wires":[["37e7250f.68f182"],[],[]]},{"id":"9fc8fa62.013888","type":"inject","z":"5b4f30d8.3d0f9","name":"","topic":"switch","payload":"start","payloadType":"global","repeat":"0.5","crontab":"","once":false,"onceDelay":0.1,"x":1990,"y":160,"wires":[["66cc130f.68be84"]]},{"id":"66cc130f.68be84","type":"exec","z":"5b4f30d8.3d0f9","command":"fast-gpio read 3","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"detectValueLED","x":2240,"y":100,"wires":[["f9c5dddb.3e36e"],["f9c5dddb.3e36e"],["f9c5dddb.3e36e"]]},{"id":"f9c5dddb.3e36e","type":"change","z":"5b4f30d8.3d0f9","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"> Read GPIO3: 0","fromt":"str","to":"0","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"> Read GPIO3: 1","fromt":"str","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2440,"y":60,"wires":[["9114c1dd.5c8818"]]},{"id":"9114c1dd.5c8818","type":"switch","z":"5b4f30d8.3d0f9","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":2630,"y":60,"wires":[[],["a75a84e.4bceaf8"]]},{"id":"a75a84e.4bceaf8","type":"exec","z":"5b4f30d8.3d0f9","command":"fast-gpio read 1","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"detectValueBuzz","x":2770,"y":120,"wires":[["b408f6ac.c0f038"],["b408f6ac.c0f038"],["b408f6ac.c0f038"]]},{"id":"b408f6ac.c0f038","type":"rbe","z":"5b4f30d8.3d0f9","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":2930,"y":120,"wires":[["814e3b3e.4743f8"]]},{"id":"814e3b3e.4743f8","type":"change","z":"5b4f30d8.3d0f9","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"> Read GPIO1: 0","fromt":"str","to":"0","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"> Read GPIO1: 1","fromt":"str","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":3080,"y":120,"wires":[["38fcb77f.d9661"]]},{"id":"38fcb77f.d9661","type":"switch","z":"5b4f30d8.3d0f9","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":3230,"y":120,"wires":[["aa8d06d4.138478"],[]]},{"id":"aa8d06d4.138478","type":"change","z":"5b4f30d8.3d0f9","name":"clear payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":3460,"y":280,"wires":[["745bbefd.85e938"]]},{"id":"745bbefd.85e938","type":"exec","z":"5b4f30d8.3d0f9","command":"python root/pyPrograms/lcdDisplayMessage/displayMessage.py Light On","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"LightOn","x":3440,"y":80,"wires":[["37e7250f.68f182"],[],[]]},{"id":"526d2e51.1472a","type":"ui_template","z":"5b4f30d8.3d0f9","group":"e9b4e766.0801e8","name":"","order":0,"width":0,"height":0,"format":"<style>\nbody.nr-dashboard-theme {\n    font-size: 50px !important;\n}\n.md-toolbar-tools h1 {\n    font-size: 50px !important;\n}\n</style>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"global","x":1360,"y":180,"wires":[[]]},{"id":"8f3f2cea.f16fd","type":"ui_template","z":"5b4f30d8.3d0f9","group":"14800f67.5aac69","name":"","order":1,"width":0,"height":0,"format":"Camera","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1360,"y":240,"wires":[[]]},{"id":"e166e464.9ad168","type":"ui_template","z":"5b4f30d8.3d0f9","group":"5de9248.ff0b5dc","name":"","order":1,"width":0,"height":0,"format":"Temperature","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1360,"y":300,"wires":[[]]}]
